// AutoPower Application Icon Resource

#include <windows.h>

// 应用程序图标
IDI_APP_ICON ICON "app_icon.ico"

// 版本信息
1 VERSIONINFO
FILEVERSION     1,0,1,0
PRODUCTVERSION  1,0,1,0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "AutoPower"
            VALUE "FileDescription", "AutoPower Timer Shutdown"
            VALUE "FileVersion", "1.0.1"
            VALUE "InternalName", "AutoPower"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "AutoPower.exe"
            VALUE "ProductName", "AutoPower"
            VALUE "ProductVersion", "1.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 2052, 1200
    END
END